<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body class="container mt-5">
    <div class="alert alert-dark  display-1">LISTADO DE MASCOTAS</div>
    {%if animales %}
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Sexo</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        </body>
        {% for Veterinaria in animales %}
        <tr>
            <td scope="row">{{Veterinaria.id}}</td>
            <td>{{Veterinaria.nombre}}</td>
            <td>{{Veterinaria.especie}}</td>
            <td>{{Veterinaria.sexo}}</td>
            <td>{{Veterinaria.raza}}</td>
            <td>{{Veterinaria.edad}}</td>
            <td>{{Veterinaria.ciudad}}</td>
            <td><a href="/actualizar/{{ Veterinaria.id }}" class="btn btn-success btn-sm"><i class="bi bi-pencil">Actualizar</i></td>
            <td><a href="/eliminar/{{ Veterinaria.id }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>Eliminar</td>


           
        </tr>
        {% endfor %}
     </tbody>
 </table>
 {% else %}
     <div class="alert alert-info">No hay mascotas registradas</div>
 {% endif%}

 <a href="../" class="btn btn-secondary btn-sm">VOLVER</a>
 <a href="../Registro" class="btn btn-warning btn-sm">Registrar MASCOTAS</a>
</body>    
    
